* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #eeeeecb3;
}
.header {
  width: 100%;
  height: 7em;
  /* background-color: rgb(202, 197, 197); */
}
svg {
  width: 9em;
  height: 7em;
  /* border: 2px solid red; */
  margin-left: 3em;
}
svg:hover {
  cursor: pointer;
}
.header a {
  text-decoration: none;
}
.women_anchor {
  position: absolute;
  margin-top: 2em;
  margin-left: 2em;
  font-size: 1.3em;
  color: rgb(73, 73, 181);
  font-family: "Suisse Intl", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.men_anchor {
  position: absolute;
  margin-top: 2em;
  margin-left: 6em;
  font-size: 1.3em;
  text-decoration: none;
  color: black;
  font-family: "Suisse Intl", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.search-bar {
  position: absolute;
  margin-left: 14em;
  margin-top: 2.4em;
  width: 25em;
  height: 2.6em;
  border-radius: 4px;
  border: 1px solid black;
  font-size: 1em;
}
.search-icon {
  position: absolute;
  color: #c1c0bd;
  /* color: black; */
  /* border: 2px solid red; */
  width: 3em;
  height: 3em;
  margin-left: 15em;
  margin-top: 3.2em;
  z-index: 1;
}
.bell-icon {
  position: absolute;
  font-size: 1.4em;
  margin-left: 38em;
  margin-top: 2em;
}
.heart-icon {
  position: absolute;
  font-size: 1.4em;
  margin-left: 41em;
  margin-top: 2em;
}
.bell-icon,
.heart-icon:hover {
  cursor: pointer;
}
.sign-up {
  position: absolute;
  width: 10em;
  height: 2.5em;
  font-size: 1.1em;
  margin-top: 2em;
  margin-left: 55em;
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
}
.sign-up:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}
.currency-tag {
  position: absolute;
  font-size: 1em;
  text-decoration: none;
  color: black;
  margin-top: 3em;
  margin-left: 73em;
}
.header-line {
  color: #c1c0bd;
  margin-top: -1em;
}
.shopping-tags {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1em;
  margin-left: 5em;
  gap: 1.1em;
}
.shopping-tags a {
  text-decoration: none;
  color: black;
}
.shopping-tags a:hover {
  cursor: pointer;
}
.women-img1 {
  position: absolute;
  width: 75%;
  height: 100%;
  margin-top: 3.4em;
}
.trench-coat {
  font-size: 2.8em;
  width: 6em;
  font-family: "Luxurious Roman", serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 25.8em;
  margin-top: 2em;
}
.trench-para {
  position: absolute;
  font-size: 19px;
  width: 16em;
  height: 15em;
  margin-left: 60.8em;
  margin-top: 1.6em;
  color: rgb(90, 89, 89);
}
.explore-now {
  position: absolute;
  width: 10em;
  height: 2.6em;
  font-size: 1em;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-left: 72.2em;
  margin-top: 15em;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.women-img2 {
  position: absolute;
  width: 70%;
  height: 90%;
  margin-top: 37.6em;
  margin-left: 30%;
}
.fullproof {
  position: absolute;
  font-size: 42px;
  width: 8em;
  font-family: "Ivar Soft", "Times New Roman", Times, serif;
  font-weight: 400;
  margin-left: 1.3em;
  margin-top: 15.5em;
  /* border: 2px solid red; */
}
.proof-para {
  position: absolute;
  font-size: 19px;
  width: 16em;
  height: 15em;
  margin-left: 2.9em;
  margin-top: 43em;
  color: rgb(90, 89, 89);
}
.read-more {
  position: absolute;
  width: 7em;
  height: 2.5em;
  font-size: 1em;
  background-color: rgb(255, 255, 255);
  color: rgb(1, 1, 1);
  border: 1px solid black;
  border-radius: 4px;
  margin-left: 3.3em;
  margin-top: 74em;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}
.women-img3 {
  position: absolute;
  width: 100%;
  height: 60%;
  margin-top: 79.3em;
}
.dont-shop {
  position: absolute;
  width: 11em;
  height: 2.5em;
  color: rgb(1, 1, 1);
  font-family: "Ivar Soft", "Times New Roman", Times, serif;
  margin-left: 1.2em;
  margin-top: 56em;
  font-size: 2em;
}
.dont-para {
  position: absolute;
  width: 18em;
  height: 2.5em;
  color: rgb(90, 89, 89);
  font-family: "Ivar Soft", "Times New Roman", Times, serif;
  margin-left: 2.4em;
  margin-top: 115.5em;
  font-size: 1em;
}
